<center>
<nav>
<a href="/"><button type="button" class="btn btn-primary">Home</button></a>
<a href="/dept1"><button type="button" class="btn btn-primary">Department1</button></a>
<a href="/dept2"><button type="button" class="btn btn-primary">Department2</button></a>
<a href="/admin" target="_blank"><button type="button" class="btn btn-primary">Admin</button></a>
<!--

    <a href="/adduser"><button type="button" class="btn btn-primary">Add User</button></a>
    <a href="/task"><button type="button" class="btn btn-primary">Add Task</button></a>
   -->
</nav>
    </center>